/* Variables */

/* Light mode */
.notebook {
	--box-background: #f5f5f5;
	--box-border: #e0e0e0;
	--notebook-background: #ffffff;
	--output-error-background: #ffdddd;
	--prompt-color: #afafaf;
}

/* Dark mode */
/* Remove this block if you do not wish to support dark mode */
@media (prefers-color-scheme: dark) {
	.notebook {
		--box-background: #171717;
		--box-border: #575757;
		--notebook-background: #2b2b2b;
		--output-error-background: #3c0404;
		--prompt-color: #afafaf;
	}
}

/* General styles */

.notebook {
	box-sizing: border-box;
	background: var(--notebook-background);
}

.notebook h1 {
	margin: 0;
}

.notebook p,
.notebook ol,
.notebook ul {
	margin: 0 0 0.8em;
}

.notebook pre {
	margin: 0;
}

.notebook table {
	border-collapse: collapse;
}

.notebook table,
.notebook th,
.notebook td {
	padding: 4px 6px;
	border: 0;
}

.notebook thead tr {
	border-bottom: 1px solid var(--box-border);
}

.notebook tbody tr:nth-child(even) {
	background: var(--box-background);
}

/* Text */

/* Monospaced text */
.notebook .input-prompt,
.notebook .output-prompt,
.notebook pre {
	font-family: "Menlo", "Consolas", "DejaVu Sans Mono", monospace;
}

/* Small text */
.notebook .input-prompt,
.notebook .output-prompt,
.notebook pre,
.notebook table {
	font-size: 90%;
}

/* Cells */

.notebook .cell + .cell {
	margin-top: 20px;
}

.notebook .input-wrapper,
.notebook .output-wrapper {
	display: flex;
}

.notebook .input-prompt,
.notebook .output-prompt {
	width: 50px;
}

.notebook .input,
.notebook .output {
	flex: 1;
}

.notebook .output-wrapper {
	margin-top: 10px;
}

/* Prompts (execution counts) */

.notebook .input-prompt,
.notebook .output-prompt {
	color: var(--prompt-color);
}

/* Boxes (e.g. for code and errors) */

.notebook .cell-code .input,
.notebook .cell-raw .input,
.notebook .output-error {
	padding: 8px 10px;
	overflow-y: auto;
	border-radius: 2px;
}

/* Grey boxes */
.notebook .cell-code .input,
.notebook .cell-raw .input {
	background: var(--box-background);
	border: 1px solid var(--box-border);
}

/* Adjust spacing of prompts next to boxes (so text is aligned) */
.notebook .cell-code .input-prompt,
.notebook .cell-raw .input-prompt {
	padding-top: 8px;
}

/* Error output */

/* Error box */
.notebook .output-error {
	background: var(--output-error-background);
}

/* Black ANSI color */
.notebook .term-fg30 {
	color: #3e424d;
}

/* Red ANSI color */
.notebook .term-fg31 {
	color: #e75c58;
}

/* Green ANSI color */
.notebook .term-fg32 {
	color: #00a250;
}

/* Yellow ANSI color */
.notebook .term-fg33 {
	color: #ddb62b;
}

/* Blue ANSI color */
.notebook .term-fg34 {
	color: #208ffb;
}

/* Magenta ANSI color */
.notebook .term-fg35 {
	color: #d160c4;
}

/* Cyan ANSI color */
.notebook .term-fg36 {
	color: #60c6c8;
}
